# ====================================
#     gitignore - whitelist
# ====================================

*
!*/

# -- meta --
!.gitignore

# -- docs --
!README.md
!LICENSE
!requirements.txt
!examples/*

# -- src files --
!*.py
!blup
