# ====================================
#     gitignore - whitelist
# ====================================

*
!*/

# -- meta --
!.gitignore
!README.md
!LICENSE
!requirements.txt

# -- src files --
!*.py
!blup
